body{
    font-family: cursive;
    background-color: rgb(41, 10, 25);
}

.section-principal{
    background-color: rgb(117, 216, 178);
    margin:5% auto;
    border-style: ridge;
    width: 740px;
    box-shadow: 2px 10px 12px 0px;
    color: rgb(53, 83, 72);
    border-radius: 40px 40px 40px 40px;
}

.first-div{
    text-align: left;
    margin-top: 5%;
    margin-left: 50px;

}
.first-h1{
    font-size: 35px;
    color: rgb(56, 143, 117);
    font-weight: bold;
    text-shadow: 4px 2px 3px rgb(140, 219, 212);
}
.first-h2{
    color: white;
    text-shadow: 1px 2px 8px rgb(2, 15, 10);
}
.first-p, .first-p2{
    color: rgb(95, 90, 90);
    line-height: 10px;
    text-shadow: 1px 2px 10px rgb(48, 250, 172);
}
.div-pai{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.second-div{
    background-color: rgb(49, 180, 163);
    padding: 20px;
    width: 340px;
    height: auto;
    display: inline-block;
    border-radius: 0px 0px 0px 42px;
    /* margin-left: 30px; */
}
.p-29{
    font-size: 35px;
    color: green;
    display: inline;
}
.p-month{
    margin-left: 10px;
    display: inline-block;
    text-shadow: 0.8px 0.6px 5px black;
}
.p-access{
    text-shadow: 0.8px 0.6px 5px black;
}
.second-div h2{
    text-align: center;
    text-shadow: 0.8px 0.6px 5px black;
}
.second-div{
    color: white;
    font-weight: bold;
}
.div-p{
    text-align: center;
}
.button-signUp{
    color: honeydew;
    background-color: #1bac1f;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    font-size: 14px;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px 0px;
}
.button-signUp:hover{
    background-color: yellowgreen;
    border-color: rgb(61, 66, 61);
    transition: 0.3s color;
    color: rgb(32, 75, 24);
}
.div-button{
    text-align: center;
}
.third-div{
    border-radius: 0px 0px 42px 0px;
    display: inline-block;
    text-align: left;
    background-color: rgb(51, 157, 172);
    margin-left: -8px;
    width: 340px;
    padding: 15px;
    height: auto;

    /* position: relative; */
    /* top: 40px; left: 50px; */
}
.third-div h2{
    text-indent: 35px;
    font-weight: bold;
    color:white;
    text-shadow: 0.8px 0.6px 5px black;
}
li{
    color: rgb(224, 224, 216);
    text-shadow: 0.8px 0.6px 5px rgb(71, 68, 68);
    list-style-type: none;
}